/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04-may-2017, 10:26:52
    Author     : aula2
*/


.menu {
    background: yellow;
    border: 1px solid black;
    padding: 10px;
}
