/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04-may-2017, 10:26:52
    Author     : aula2
*/


.menu {
    background: yellow;
    border: 1px solid black;
    padding: 10px;
}


.clasediv {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    margin: 10px;
    float: left;
    padding: 30px;
    text-align: center;
    background-color: lightgray;
}

p {
    background-color: white;
}

#parraforojo {
    background-color: red;
}

h3 {
    background-color: blueviolet; color:white
}